* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: gainsboro;
  line-height: 1.5;
}

input, textarea, button {
  font-family: inherit;
}